<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Data View</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>Skatteverket</h1>

<!-- New form to capture user input -->
<form th:action="@{/getRecordByTabellNrAndValue}" method="get">
    <input type="number"  name="tabellNr" required min="29" max="42" placeholder="Table Number (29-42)" />
    
    <input type="number" name="value" required placeholder="Salary" />

    <button type="submit">Get Record</button>
</form>

<!-- Table to display data -->
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Antal Dagar</th>
        <th>Tabell Nr</th>
        <th>Inkomst From</th>
        <th>Inkomst Tom</th>
        <th>Kolumn1</th>
        <th>Kolumn2</th>
        <th>Kolumn3</th>
        <th>Kolumn4</th>
        <th>Kolumn5</th>
        <th>Kolumn6</th>
        <th>Kolumn7</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="data : ${dataList}">
        <td th:text="${data.id}"></td>
        <td th:text="${data.antalDagar}"></td>
        <td th:text="${data.tabellNr}"></td>
        <td th:text="${data.inkomstFrom}"></td>
        <td th:text="${data.inkomstTom}"></td>
        <td th:text="${data.kolumn1}"></td>
        <td th:text="${data.kolumn2}"></td>
        <td th:text="${data.kolumn3}"></td>
        <td th:text="${data.kolumn4}"></td>
        <td th:text="${data.kolumn5}"></td>
        <td th:text="${data.kolumn6}"></td>
        <td th:text="${data.kolumn7}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
