<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Single Record View</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>Result</h1>

<!-- User Input Display -->
<div class="user-input-container">
  <p class="user-input-label">Table Number: <span class="user-input-value" th:text="${param.tabellNr}"></span></p>
  <p class="user-input-label">Salary Value: <span class="user-input-value" th:text="${param.value}"></span></p>
</div>


<!-- Table to display data -->
<table th:if="${data}">
  <thead>
  <tr>
    <th>Id</th>
    <th>AntalDagar</th>
    <th>TabellNr</th>
    <th>InkomstFrom</th>
    <th>InkomstTom</th>
    <th>Kolumn1</th>
    <th>Kolumn2</th>
    <th>Kolumn3</th>
    <th>Kolumn4</th>
    <th>Kolumn5</th>
    <th>Kolumn6</th>
    <th>Kolumn7</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text="${data.id}"></td>
    <td th:text="${data.antalDagar}"></td>
    <td th:text="${data.tabellNr}"></td>
    <td th:text="${data.inkomstFrom}"></td>
    <td th:text="${data.inkomstTom}"></td>
    <td th:text="${data.kolumn1}"></td>
    <td th:text="${data.kolumn2}"></td>
    <td th:text="${data.kolumn3}"></td>
    <td th:text="${data.kolumn4}"></td>
    <td th:text="${data.kolumn5}"></td>
    <td th:text="${data.kolumn6}"></td>
    <td th:text="${data.kolumn7}"></td>
  </tr>
  </tbody>
</table>

<!-- Message if data is not found -->
<div class="message" th:unless="${data}">
  <p class="error">Record not found!</p>
</div>

<!-- Link to Skatteverket website -->
<div class="skatteverket-link">
  <p>Teknisk beskrivning för <a href="https://www.skatteverket.se/foretag/arbetsgivare/arbetsgivaravgifterochskatteavdrag/skattetabeller/tekniskbeskrivningforskattetabeller.4.319dc1451507f2f99e86ee.html" target="_blank" rel="noopener">Skattetabeller</a>.</p>
</div>

<div class="back-button-container">
  <a class="back-button" href="javascript:history.back()">Back</a>
</div>

</body>
</html>



